/SamuraiUnity/Library/*
/SamuraiUnity/Temp/*
/SamuraiUnity/ProjectSettings/*
/SamuraiUnity/Packages/*
/SamuraiUnity/Logs/*
/SamuraiUnity/obj/*
/SamuraiUnity/UserSettings/*
/SamuraiUnity/.idea/*
/SamuraiUnity/Assets/Settings
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta